
.header{
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 92px 24px 96px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 500;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 36px 39px 26px;
    font-size: 18px;
    list-style: circle;
}

.header__links-list-item{
    text-decoration: underline solid black 0.5px;
    text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
    
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.header__address {
    font-style: normal;
    margin: 7px 23px 2px 185px;
    font-size: 18px;
    font-weight: 400;
}

.underline {
    text-decoration: underline solid black 0.5px;
    text-underline-offset: 4px;
}

.cover {
    width: 1100px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
    width: 369px;
    height: 100px;
    margin: 162px 734px 20px 50px;
}

.letter-spacing-extended {
    text-align: right;
    letter-spacing: 60px;
}

.aligned-text_center {
    display: block;
    height: 115px;
    margin:27px 395px 5px 336px; 
}

.aligned-text_right {
    display: block;
    height: 100px;
    margin:5px 50px 135px 633px;
    letter-spacing: 60px;
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.cover__description {
    display: flex;
    margin: 145px 50px 51px 80px;
}

.cover__description-text {
    margin: 12px 79px 11px 0px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    word-spacing: 18px;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    width: 256px;
    height: 51px;
}

.lots {
    width: 1052px;
    height: 692px;
    max-width: 1052px;
    min-height: 692px;
    margin: 179px 24px 146px;
}

.lots__heading {
    text-transform: uppercase;
    margin: 0px 891px 27px 40px;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    text-align: left;
}

.lots__card-list {
    display: flex;
    flex-grow: 1;
    gap: 25px;
    list-style-type: none;
}

.lots__card-list-item {
    width: 334px;
    height: 563px;
    position: relative;
}

.card-link {
    text-decoration: none;
    display: block;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 52px 40px 0px;
    line-height: 26px;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin: 0px 40px 50px;
    line-height: 24px;
}

.card_type_film {
    width: 334px;
    height: 563px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    width: 334px;
    height: 563px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    width: 334px;
    height: 563px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    text-decoration: underline solid black 0.5px;
    text-underline-offset: 4px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}


.about {
    display: grid;
    grid-template-columns: 334px auto;
    gap: 25px;
    width: 1052px;
    height: 595px;
    max-width: 1100px;
    min-height: 595px;
    margin: 146px 24px 180px;
    
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 320px 47px;
    width: 240px;
    height: 240px;
    border-radius: 90%;
    background-color: #000;

}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin: 136px 402px 100px 0px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 24px;
    margin-right: 5px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.footer {
    box-sizing: border-box;
    margin: 0px 50px 88px;
    width: 1000px;
    height: 98px;
    display: flex;
    justify-content: space-between;
    
}

.footer__address {
    font-style: normal;
    line-height: 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.2px;
}

.footer__menu {
    text-align: center;  
}

.footer__menu-list {
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    margin-left: 35px;
    line-height: 22px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list-item {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}